<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Destinos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let destination of destinations">
    <ion-card-header>
      <ion-card-title>{{ destination.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="destination.image"></ion-img>
      <p>{{ destination.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
