ion-card {
    margin: 16px;
  }
  
  ion-card-title {
    font-size: 1.5em;
  }
  
  ion-avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .thumbnail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  ion-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-right: 16px;
  }
  
  ion-item {
    --inner-padding-end: 0px;
  }
  
  ion-label {
    margin-left: 10px;
  }