ion-card {
    margin: 16px;
  }
  
  ion-card-title {
    font-size: 1.5em;
  }
  
  ion-thumbnail img {
    border-radius: 10px;
  }

  ion-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
  }
  
  p {
    text-align: justify;
  }